define host {
    use                 linux-server
    host_name           ubuntu-node
    alias               Ubuntu Monitoring Node
    address             192.168.117.30
}

define host {
    use                 linux-server
    host_name           wazuh
    alias               Wazuh SIEM
    address             192.168.117.50
}

define host {
    use                 linux-server
    host_name           security-onion
    alias               Security Onion
    address             192.168.117.10
}

define host {
    use                 windows-server
    host_name           dc01
    alias               Windows Server 2025 DC01
    address             192.168.117.130
}

define host {
    use                 windows-server
    host_name           win11client
    alias               Windows 11 Client
    address             192.168.117.100
}
